name: J200H Build (Space Saver + Auto Clean)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: 1. EXTREME CLEANUP (Host)
      run: |
        sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/CodeQL /usr/share/swift /usr/local/.ghcup /usr/lib/jvm
        sudo docker image prune --all --force
        sudo swapoff -a
        sudo rm -f /mnt/swapfile /swapfile
        df -h

    - name: 2. Run Build Inside Docker
      run: |
        docker run --rm -i -v "$GITHUB_WORKSPACE:/root/android" ubuntu:18.04 /bin/bash -c "
        
        # --- INSIDE DOCKER START ---
        
        # 1. Install Tools
        apt-get update
        apt-get install -y git-core gnupg flex bison gperf build-essential zip curl zlib1g-dev gcc-multilib g++-multilib libc6-dev-i386 lib32ncurses5-dev x11proto-core-dev libx11-dev lib32z1-dev libgl1-mesa-dev libxml2-utils xsltproc unzip python python3 openjdk-8-jdk sudo rsync schedtool imagemagick bc
        
        # 2. Fix Java & Env
        update-alternatives --set java /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java
        export USER=\$(whoami)
        J_SEC_FILE='/usr/lib/jvm/java-8-openjdk-amd64/jre/lib/security/java.security'
        sed -i 's/TLSv1, TLSv1.1,//g' \$J_SEC_FILE
        sed -i 's/SSLv3,//g' \$J_SEC_FILE

        # 3. Setup Repo
        curl https://storage.googleapis.com/git-repo-downloads/repo > /usr/bin/repo
        chmod a+x /usr/bin/repo

        # 4. Setup Workspace
        cd /root/android
        git config --global user.name 'CI'
        git config --global user.email 'ci@ci.com'

        repo init -u https://github.com/LineageOS/android.git -b cm-14.1 --depth=1
        
        # 5. Create Manifest
        mkdir -p .repo/local_manifests
        echo '<?xml version=\"1.0\" encoding=\"UTF-8\"?>
        <manifest>
          <project name=\"j23g/android_device_samsung_j23g\" path=\"device/samsung/j23g\" remote=\"github\" revision=\"cm-14.1\" />
          <project name=\"j23g/android_device_samsung_scx30g2-common\" path=\"device/samsung/scx30g2-common\" remote=\"github\" />
          <project name=\"j23g/android_device_samsung_sprd-common\" path=\"device/samsung/sprd-common\" remote=\"github\" />
          <project name=\"j23g/android_device_samsung_scx35-common\" path=\"device/samsung/scx35-common\" remote=\"github\" />
          <project name=\"j23g/android_kernel_samsung_j23g\" path=\"kernel/samsung/j23g\" remote=\"github\" />
          <project name=\"j23g/android_vendor_samsung_j23g\" path=\"vendor/samsung/j23g\" remote=\"github\" revision=\"cm-14.1\" />
          <project name=\"stricted/android_hardware_spreadtrum\" path=\"hardware/spreadtrum\" remote=\"github\" revision=\"cm-14.1\" />
          <project name=\"LineageOS/android_hardware_samsung\" path=\"hardware/samsung\" remote=\"github\" revision=\"cm-14.1\" />
        </manifest>' > .repo/local_manifests/roomservice.xml

        # 6. Sync
        repo sync -c -j\$(nproc --all) --force-sync --no-clone-bundle --no-tags || true

        # 7. CLEAN STORAGE
        rm -rf .repo
        rm -rf prebuilts/clang/host/darwin-x86
        rm -rf prebuilts/gcc/linux-x86/host/x86_64-w64-mingw32-4.8
        rm -rf prebuilts/gcc/darwin-x86
        rm -rf cts development/samples development/tutorials
        find . -name \".git\" -type d -exec rm -rf {} +
        
        # 8. APPLY FIXES
        sed -i 's/return -ENODEV;/return;/g' kernel/samsung/j23g/drivers/usb/gadget/dwc_otg/usb_hw.c
        find kernel/samsung/j23g -name 'Makefile' -exec sed -i 's/-Werror//g' {} +
        echo 'KBUILD_CFLAGS += -w' >> kernel/samsung/j23g/Makefile
        echo 'KBUILD_CFLAGS += -Wno-error' >> kernel/samsung/j23g/Makefile
        echo 'KBUILD_CFLAGS += -Wno-int-conversion' >> kernel/samsung/j23g/Makefile
        echo 'KBUILD_CFLAGS += -Wno-incompatible-pointer-types' >> kernel/samsung/j23g/Makefile
        grep -rl "TARGET_PREBUILT_KERNEL" device/ vendor/ | xargs sed -i 's/TARGET_PREBUILT_KERNEL/# TARGET_PREBUILT_KERNEL/g'
        
        K_CONFIG=\$(find kernel/samsung/j23g/arch/arm/configs/ -name '*j23g*defconfig' | head -n 1)
        if [ -z \"\$K_CONFIG\" ]; then K_CONFIG='sc8830_defconfig'; else K_CONFIG=\$(basename \$K_CONFIG .u); fi
        
        BC_FILE='device/samsung/j23g/BoardConfig.mk'
        echo '' >> \$BC_FILE
        echo 'TARGET_KERNEL_SOURCE := kernel/samsung/j23g' >> \$BC_FILE
        echo \"TARGET_KERNEL_CONFIG := \$K_CONFIG\" >> \$BC_FILE
        echo 'TARGET_KERNEL_ARCH := arm' >> \$BC_FILE
        echo 'TARGET_KERNEL_HEADER_ARCH := arm' >> \$BC_FILE
        echo 'BOARD_KERNEL_IMAGE_NAME := zImage' >> \$BC_FILE
        
        # 9. Build
        source build/envsetup.sh
        lunch lineage_j23g-userdebug
        
        export ANDROID_JACK_VM_ARGS=\"-Dfile.encoding=UTF-8 -XX:+TieredCompilation -Xmx4g\"
        ./prebuilts/sdk/tools/jack-admin kill-server
        ./prebuilts/sdk/tools/jack-admin start-server
        
        export WITH_DEXPREOPT=false
        export USE_CCACHE=0
        export CCACHE_DISABLE=true
        
        # --- BACKGROUND CLEANER START ---
        # This loop runs every 3 minutes to delete intermediate files
        (
            while true; do
                sleep 180
                echo 'Background Cleaning...'
                rm -rf out/target/common/obj/JAVA_LIBRARIES/framework_intermediates
                rm -rf out/target/common/obj/APPS/SystemUI_intermediates
                rm -rf out/target/common/docs
                rm -rf out/host/linux-x86/obj/STATIC_LIBRARIES
            done
        ) &
        # --- BACKGROUND CLEANER END ---

        make -j2 bacon
        
        # --- INSIDE DOCKER END ---
        "

    - name: 3. Upload Result
      uses: actions/upload-artifact@v4
      if: success()
      with:
        name: J200H_ROM
        path: out/target/product/j23g/*.zip
