name: Build J200H (Fast Lane 22.04)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04 # <--- This is the fast queue!

    steps:
    - name: 1. Checkout
      uses: actions/checkout@v2

    - name: 2. Clean Disk (Make Space)
      uses: rokibhasansagar/slimhub_actions@main

    - name: 3. Install Old Tools (Fix for Android 7)
      run: |
        sudo apt-get update
        sudo apt-get install -y bc build-essential zip curl libstdc++6 git wget gcc clang libssl-dev repo rsync flex bison openjdk-8-jdk
        
        # Install Python 2 (Required for old Android)
        sudo apt-get install -y python2
        sudo ln -s /usr/bin/python2 /usr/bin/python
        
        # Install ncurses5 (Required for old Android)
        sudo apt-get install -y libncurses5 libncurses5-dev

    - name: 4. Initialize Source
      run: |
        mkdir ~/android
        cd ~/android
        git config --global user.name "CI"
        git config --global user.email "ci@ci.com"
        repo init -u https://github.com/LineageOS/android.git -b cm-14.1 --depth=1

    - name: 5. Download Device Files
      run: |
        cd ~/android
        mkdir -p .repo/local_manifests
        cp $GITHUB_WORKSPACE/.repo/local_manifests/roomservice.xml .repo/local_manifests/
        repo sync -c -j$(nproc --all) --force-sync --no-clone-bundle --no-tags

    - name: 6. Build
      run: |
        cd ~/android
        . build/envsetup.sh
        lunch lineage_j23g-userdebug
        mka bacon

    - name: 7. Upload
      uses: actions/upload-artifact@v2
      if: success()
      with:
        name: J200H_ROM
        path: ~/android/out/target/product/j23g/*.zip
