name: Build J200H ROM

on:
  workflow_dispatch: # This creates a button to start the build

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - name: 1. Prepare Cloud Computer
      uses: actions/checkout@v2

    - name: 2. Clean Disk Space (Crucial)
      uses: rokibhasansagar/slimhub_actions@main

    - name: 3. Install Tools
      run: |
        sudo apt-get update
        sudo apt-get install -y bc build-essential zip curl libstdc++6 git wget python gcc clang libssl-dev repo rsync flex bison openjdk-8-jdk
        sudo update-alternatives --set java /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java

    - name: 4. Download Android Source (LineageOS 14.1)
      run: |
        mkdir ~/android
        cd ~/android
        git config --global user.name "CI"
        git config --global user.email "ci@ci.com"
        repo init -u https://github.com/LineageOS/android.git -b cm-14.1 --depth=1

    - name: 5. Download Your Device Files
      run: |
        cd ~/android
        mkdir -p .repo/local_manifests
        cp $GITHUB_WORKSPACE/.repo/local_manifests/roomservice.xml .repo/local_manifests/
        repo sync -c -j$(nproc --all) --force-sync --no-clone-bundle --no-tags

    - name: 6. Start Building
      run: |
        cd ~/android
        . build/envsetup.sh
        
        # This selects your device
        lunch lineage_j23g-userdebug
        
        # This starts the compilation
        mka bacon

    - name: 7. Upload the Result
      uses: actions/upload-artifact@v2
      if: success()
      with:
        name: MY_J200H_ROM
        path: ~/android/out/target/product/j23g/*.zip
